/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2015, 9:24:59 AM
    Author     : awal
*/

div#body {
  position: relative;
  left: 80px;
  display: none;
  z-index: 0;
}
.node circle {
  fill: darkgrey;
}
.node text {
  font-size: 12px;
}
.node rect {
  fill: lightgrey;
  fill-opacity: 0.5;
}
path.link {
  fill: none;
  stroke: lightblue;
  stroke-width: 1.5px;
}

ul>li>span.btn {
  width: 230px;
  word-spacing: -8px;
  text-align: left;
}
ul>li>label.btn {
  width: 230px;
  text-align: left;
}
ul>li[id*=select]:not([id=selectkpi])>span {
  cursor: default;
}

/*.table tbody tr:nth-child(10n+1) {
  animation: table-row-anime 20s linear infinite;
}
.table tbody tr:nth-child(10n+2) {
  animation: table-row-anime 20s linear infinite 2s;
}
.table tbody tr:nth-child(10n+3) {
  animation: table-row-anime 20s linear infinite 4s;
}
.table tbody tr:nth-child(10n+4) {
  animation: table-row-anime 20s linear infinite 6s;
}
.table tbody tr:nth-child(10n+5) {
  animation: table-row-anime 20s linear infinite 8s;
}
.table tbody tr:nth-child(10n+6) {
  animation: table-row-anime 20s linear infinite 10s;
}
.table tbody tr:nth-child(10n+7) {
  animation: table-row-anime 20s linear infinite 12s;
}
.table tbody tr:nth-child(10n+8) {
  animation: table-row-anime 20s linear infinite 14s;
}
.table tbody tr:nth-child(10n+9) {
  animation: table-row-anime 20s linear infinite 16s;
}
.table tbody tr:nth-child(10n+10) {
  animation: table-row-anime 20s linear infinite 18s;
}
@keyframes table-row-anime {
  0% {opacity: 0.5; transform: scale(1.05);}
  10% {opacity: 1; transform: scale(1);}
  20% {opacity: 1; transform: scale(1);}
  30% {opacity: 1; transform: scale(1);}
  40% {opacity: 1; transform: scale(1);}
  50% {opacity: 1; transform: scale(1);}
  60% {opacity: 1; transform: scale(1);}
  70% {opacity: 1; transform: scale(1);}
  80% {opacity: 1; transform: scale(1);}
  90% {opacity: 1; transform: scale(1);}
  100% {opacity: 0.5; transform: scale(1.05);}
}*/

div#addition-option {
}
div#data {
  margin-top: 10px;
}
div#kpi-option>ul>li>span {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-shadow: black 2px 2px 1px;
}
div#kpi-option>ul>li:not(#selectkpi)>span {
  color: #eff;
  cursor: pointer;
}
div#kpi-option>ul>li:not(#selectkpi):hover {
  background-color: #eef;
}
div#data div:not(#pagination), div#addition-option, div#job div:not(#pagination-progress) {
  width: 830px;
  overflow-x: auto;
}

.table, div#kpi-option, div#main-option ul, div#addition-option ul, div.right-front-pos ul {
  box-shadow: #777 4px 4px 2px;  
}
div#kpi-option:hover, div#main-option ul:hover, div.right-front-pos ul:hover {
  transition: transform 300ms;
  transform: translate(4px,4px);
  box-shadow: none;
}
div#addition-option ul:hover {
  box-shadow: white 0px 0px 10px 10px;
}

.modal-header {
  color: white;
  background-color: #37b;
}
.modal-footer {
  background-color: #ddd;
}

table#search-table>tbody>tr>td {
  padding: 0px;
  font-size: 10px;
}
div#search-list ul, div#search-list p{
   font-size: 10px;
   padding: 0px;
   margin: 0px;
}
div#search-list ul label, div#search-list ul input {
  margin: 0px;
}

div#mdl-show-progress div.modal-dialog {
  width: 870px;
}

/* collapse */
#div-collapse {
  position: fixed;
  top: 55px;
  left: 5px;
  z-index: 10;
}
#div-collapse button {
  position: absolute;
  font-size: 15px;
  color: white;
  background-color: #f73;
  border-radius: 4px;
  padding: 2px 6px;
  text-align: left;
  white-space: nowrap;
}
#div-collapse button:hover {
  background-color: #159;
  transform: translate(2px,2px);
}