/* 
    Document   : admin
    Created on : Jun 26, 2015, 10:37:13 AM
    Author     : awal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div#adminData {
  padding: 0 5px;
  margin: 0 auto;
  border: lightsteelblue solid 3px;
  border-radius: 8px;
}

.table td, .table th {
  text-align: center;
}

#tbl-modal {
  background-color: lightsteelblue;
  border-radius: 4px;
  box-shadow: 2px 2px 1px #888;
}
#tbl-modal.table td, #tbl-modal.table th {
  text-align: left;
}
#tbl-modal td:nth-child(1) {
  color: #666;
  font-weight: bold;
}
#tbl-modal td:nth-child(2) {
  padding: 2px;
}
#tbl-modal td:nth-child(2) input {
  height: 30px;
}

#mdl-find table tr th, #mdl-find table tr td {
  font-size: 10px;
}

.current-record {
  font-weight: bold;
  border: grey solid 2px;
  box-shadow: 4px 4px 2px #666;
}

/*class adding later*/
.admin-table-header, .admin-table-header#header-list-find {
  background-color: #37b;
  color: white;
}  
.admin-table-header #btn-support {
  padding: 0px;
  padding-bottom: 3px;
  width: 80px;
  background-color: #efefff;
}
#td-button {
  padding: 0px;
  padding-top: 3px;
}
#data-list-find .admin-table-button {
  width: 40px;
  margin: 0;
  padding: 0;
}
.admin-edit-data {
  width: 300px;
}